DJANGO_SECRET_KEY = '!jtw*to@^ite88ekbi+nk#cluo(%13$ean+%8)nd8==svtou)('
EVENT_URL = 'http://notification_api:8080/api/v1/send-notification/email'
DJANGO_PORT=8000
DJANGO_PUBLIC_PORT=8000
ALLOWED_HOSTS=127.0.0.1,0.0.0.0
DEBUG=True

NS_HOST = notification_api
NS_PORT = 8080
ECHO_DB=True

RABBITMQ_HOST = rabbitmq
RABBITMQ_PORT = 5672
RABBITMQ_USER = rmuser
RABBITMQ_PASSWORD = rmpassword
RABBITMQ_EXCHANGE = main

DB_NAME=postgres
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=notifications_db
POSTGRES_PORT=5432
DB_PUBLIC_PORT=5432
DB_MASTER_USER=master_user
DB_MASTER_PASSWORD=master_password
